<div class="row">
    <div class="small-12 large-6 large-centered columns">
      <h1>Users Index (<%= @users.count %>)</h1>
        <% @users.each do |user| %>
            <table>
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                    </tr>
                </tbody>
            </table>
        <%end%>
    </div>
</div>
