<% provide(:title, "Brinquedoteca") %>
<div class="container">
  <header class="titleHeader">
    <h1 class="title">Brinquedoteca</h1>
  </header>
  <div class="home-info">
    <div class="row">
  		<div class="small-12 large-6 columns">
  		  <%= link_to "Sign Up", new_user_path, class: "button large" %>
  		  <%= link_to "Login", new_session_path, class: "button large" %>  
  		</div>
  		<div class="small-12 large-6 columns">
  			<div class="panel">
  			  <h1>Welcome!</h1>
  			  <p>Brinquedoteca is a web based, open source toy inventory system for special education professionals.</p>
  			  <p>Brinquedoteca is still under development. Check back for updates.</p>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="footer-info">
    <nav class="breadcrumbs">
      <li>Developed by: Christian Machado Brandalise</li>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
    </nav>
  </div>
</div>
    